<div class="container">
    <hr class="mt-3">
    <div class="d-flex justify-content-center">
        <h3>Your e-mails</h3>
    </div>
    <div class="row text-center">
        <div class="col ms-3">
            <app-message-search-bar></app-message-search-bar>
        </div>
    </div>
    <div class="row m-3">
        <div class="col">
            <button class="p-2 w-100">Compose</button>
        </div>
        <div class="col">
            <button class="p-2 w-100">Sent</button>
        </div>
        <div class="col">
            <button class="p-2 w-100">More</button>
        </div>
    </div>
    <div class="row bg-app-ash rounded m-2 mt-3">
        <div class="col row m-1 p-1 border-0 border-bottom border-black align-items-center" style="min-width: 580px; min-height: 60px; cursor: pointer;">
            <div class="col-3 border-0 border-end border-black">
                <h3>User</h3>
            </div>
            <div class="col-9 d-flex justify-content-between">
                <p>Hello! How are u ?</p>
                <p>12:40 PM</p>
            </div>
        </div>
    </div>
</div>


