<div class="container my-3">
    <div class="col">
        <div class="d-flex col-3 rounded-top-4 bg-black explore-box mt-4" style="min-height: 360px; min-width: 360px;">
            <div class="mt-2 mx-2 mb-1 bg-white w-100 rounded-4 align-items-center justify-content-center">
                <div class="m-3">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet.
                    </p>
                </div>
            </div>
            
        </div>
         
        <div class="d-flex d-col-flex col-3 rounded-bottom-4 bg-app-yellow align-items-center justify-content-center explore-box" style="min-height: 40px; min-width:360px;">
            <h3>Industrial</h3>         
        </div>
    </div>
</div>
